<app-navbar></app-navbar>
  <table class="table table-bordered">
      
    <tbody>
      <tr *ngFor="let review of Reviews">
        <td routerLink="/review/{{review.naslov}}"><h3>{{ review.naslov }}</h3></td>
        <td>{{ review.tekst }}</td>
        <td>{{ review.ocjena }}</td>
        <button (click)="deleteRev(review.naslov)">X</button>
      </tr>
    </tbody>
    
  </table>


  <br>
<h2>Unos</h2>
  <form [formGroup]="reviewFormGroup" (ngSubmit)="onSubmit()">
    <div>
      <label for="naslov">Naslov:</label>
      <input type="text" id="naslov" formControlName="naslov">
      <div *ngIf="reviewFormGroup.get('naslov').invalid && reviewFormGroup.get('naslov').touched">
        Naslov is required.
      </div>
    </div>
    <div>
      <label for="tekst">Tekst:</label>
      <input type="text" id="tekst" formControlName="tekst">
      <div *ngIf="reviewFormGroup.get('tekst').invalid && reviewFormGroup.get('tekst').touched">
        Tekst is required.
      </div>
    </div>
    <div>
      <label for="ocjena">Ocjena:</label>
      <input type="number" id="ocjena" formControlName="ocjena" >
      <div *ngIf="reviewFormGroup.get('ocjena').invalid && reviewFormGroup.get('ocjena').touched">
        Ocjena is required.
      </div>
    </div>
   

  
    <button type="submit" [disabled]="reviewFormGroup.invalid">Submit</button>
  </form>